<%- include("partials/header") %>
  
    <!--CSS Link-->
    
    <link href="/seccion-cafe.css" rel="stylesheet">
  
<%- include("partials/header2") %>

<section id="precios">
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/bisagras.jpg" class="card-img-top" alt="#">
                    <div class="card-body">
                        <h5 class="card-title">Bisagras de Cartucho</h5>
                        <p class="card-text">Bisagras de Bandera para pertas de uso indutrial</p>
                        <a href="bisagras/bisagras.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-2">
            </div>
         
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card2">
                    <img src="images/bisagras2.jpg" class="card-img-top bisagras2" alt="#">
                    <div class="card-body">
                        <h5 class="card-title">Bisagras de Bandera</h5>
                        <p class="card-text">Bisagras de Cartucho para pertas de uso indutrial</p>
                        <a href="bisbandera/bisbandera.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
            </div>
            
 
            
        </div>
            
        
    </div>
    
    </section>
    
     <%- include("partials/footer") %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="productos.js"></script>
</body>
</html>