<%- include("partials/header") %>

    <link href="/seccion-cafe.css" rel="stylesheet">
    
<%- include("partials/header2") %>
    
<section id="precios">
    

    <div class="container-fluid">
        <div class="row">
            
           
        </div>
        
        <div class="row">
            
             <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/faja.jpg" class="card-img-top" alt="#" width="229" height="306.93">
                    <div class="card-body">
                        <h5 class="card-title">Faja Plana</h5>
                        <p class="card-text">Faja plana de cualquier medida para molinos, tornos. etc.</p>
                        <a href="faja/faja.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
            </div>
            
             
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/camisas.jpg" class="card-img-top" alt="#" width="227" height="302.66">
                    <div class="card-body">
                        <h5 class="card-title">Camisas para Despulpador de Cafe</h5>
                        <p class="card-text">Camisas de diferente medidad para la industra del cafe</p>
                        <a href="camisas/camisas.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/IMG-20190513-WA0007.jpg" class="card-img-top" alt="#">
                    <div class="card-body">
                        <h5 class="card-title">Pichachas Para Patio de Cafe</h5>
                        <p class="card-text">Pichachas de todas medidas, inoxidables y no-inoxidables</p>
                        <a href="pichachas/pichachas.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
            </div>
           
        </div>
            
    </div>
    
    </section>
    
    
    <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <i class="fas fa-envelope fo"></i>
                        <i class="fab fa-instagram fo"></i>
                        <i class="fab fa-facebook-square fo"></i>
                        <i class="fab fa-twitter fo"></i>
                        <p>Copyright &copy 2019 TECAF. All rights reserved</p>
                     </div>
                </div>
            </div>
        </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="productos.js"></script>
</body>
</html>