<%- include("partials/header") %>
  
    
    <link href="/productos.css" rel="stylesheet">
    
    
<%- include("partials/header2") %>

<section id="precios">
    

    <div class="container-fluid">
        <div class="row">     
          
                <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/tacos.jpg" class="card-img-top" alt="#" width="227" height="302.66">
                    <div class="card-body">
                        <h5 class="card-title">Tacos De Hule Redondos</h5>
                        <p class="card-text">Tacos de Hule Redondo de la maejor calidad para la carpinteria</p>
                        <a href="/hule-redondo/hule-redondo.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
                 </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/tacos2.jpg" class="card-img-top" alt="#" width="227" height="302.66">
                    <div class="card-body">
                        <h5 class="card-title">Tacos De Hule Cuadrado</h5>
                        <p class="card-text">Tacos de Hule Cuadrado de la maejor calidad para la carpinteria</p>
                        <a href="hule-cuadrado/hule-cuadrado.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
                 </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/tacos3.jpg" class="card-img-top" alt="#" width="227" height="302.66">
                    <div class="card-body">
                        <h5 class="card-title">Tacos De Hule Rectangular</h5>
                        <p class="card-text">Tacos de Hule Rectangular de la maejor calidad para la carpinteria</p>
                        <a href="hule-rectangular/hule-rectangular.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
                 </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/destapador.jpg" class="card-img-top" alt="#" width="227" height="302.66">
                    <div class="card-body">
                        <h5 class="card-title">Destapadores De Hule</h5>
                        <p class="card-text">Destapadores de Hule  de la maejor calidad convirtiendose en un articulo necesario en su negocio u hogar.</p>
                        <a href="destapador/destapador.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
                 </div>
            
        </div>
        
        <div class="row">
            
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/masillador.jpg" class="card-img-top" alt="#" width="227" height="302.66">
                    <div class="card-body">
                        <h5 class="card-title">Masilladores De Hule</h5>
                        <p class="card-text">Masilladores de Hule de la mejor resitencia con la dureza ideal para todos lo trabajos necesarios</p>
                        <a href="masillador/masillador.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
                 </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/lijadores.jpg" class="card-img-top" alt="#" width="227" height="302.66">
                    <div class="card-body">
                        <h5 class="card-title">Lijadores De Hule </h5>
                        <p class="card-text">Lijadores de gran calidad para trabajos en metal o madera.</p>
                        <a href="lijador/lijador.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
                 </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/sapos.jpg" class="card-img-top" alt="#" width="227" height="302.66">
                    <div class="card-body">
                        <h5 class="card-title">Sapos Para Entrada De Agua De Inodoro </h5>
                        <p class="card-text">Los Sapos mas conocidos como Sapitos contienen los mejores componentes para que los inodoros no sufran ninguna fuja.</p>
                        <a href="sapos/sapos.html" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
                 </div>
            
            
        </div>
            
        
    </div>
    
    </section>
    
    <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <i class="fas fa-envelope fo"></i>
                        <i class="fab fa-instagram fo"></i>
                        <i class="fab fa-facebook-square fo"></i>
                        <i class="fab fa-twitter fo"></i>
                        <p>Copyright &copy 2019 TECAF. All rights reserved</p>
                     </div>
                </div>
            </div>
        </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="productos.js"></script>
</body>
</html>