<%- include("partials/header") %>

 <link href="/terminos.css" rel="stylesheet">
    
<%- include("partials/header2") %>

<section id="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 xol-sm-12">
                <h2 class="terminosHead">Terminos de Uso</h2>
                <p class="terminosBody">Estos términos y condiciones de uso del portal www.tecaf.com regulan el uso que Usted puede dar como Visitante al contenido publicado en el Portal, así como la conducta que Usted puede desarrollar durante su visita y uso del Portal. Por el solo hecho de visitar el Portal, Usted acepta estos términos y condiciones y consiente en someterse a los mismos. Usted asume la responsabilidad por el uso que haga del Portal. Es su responsabilidad revisar y cumplir estos Términos y Condiciones de Uso y las modificaciones que en el futuro puedan disponerse.</p>
                <p class="terminosBody">1) Esta pagina hace uso de cookies que mejoran la experiencia del usuario </p>
                 <p class="terminosBody">2) Tecaf se reserva los derechos de terminar la relacion Portal-Usuario en cualquier momento sin previo aviso</p>
                 <p class="terminosBody"> 3) Tecaf se reserva los derechos de cambiar los precios y contenidos en la pagina sin previo aviso</p>
            </div>
        </div>
    </div>
</section>


<section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <i class="fas fa-envelope fo"></i>
                        <i class="fab fa-instagram fo"></i>
                        <i class="fab fa-facebook-square fo"></i>
                        <i class="fab fa-twitter fo"></i>
                        <p>Copyright &copy 2019 TECAF. All rights reserved</p>
                     </div>
                </div>
            </div>
        </section>
    
    <script src="productos.js"></script>
</body>
</html>