@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700');

body {
    height: 100%;
    width: 100%;
}

/**NAVBAR**/
.navbar {
    background-color: #44bd32;
    position: fixed !important;
    width: 100%;
    z-index: 1;
}
.form-inline {
     margin-left: 37%;
     padding-top: 5px;
     padding-bottom: 5px;
}
input.form-control.mr-sm-2 {
    padding: 0 60px 0 5px;
}
.signin {
    margin-left: 20%;
}
.regis, .fa-shopping-cart {
    margin-left: 1%;
}
.fa-shopping-cart:hover {
    color: white;
    transition: 1s;
    cursor: pointer;
}
/**NAV**/
#nav {
    z-index: 2;
    background-color: #44bd32;
    top: 0;
    bottom: 0;
    width: 15%;
    position: fixed;
}
.navimg {
    position: fixed;
    left: 2%;
    top: 4%;
}
.nav {
    margin-top: 5%;
    transform: translateY(43%);
    text-align: center;
    background-color: #44bd32;
}
.nav-item {
    padding: 10% 0;
}
a.nav-link {
    text-decoration: none;
      text-rendering: geometricPrecision;
      position: relative;
      display: block;
      color: black;
      font-weight: 500;
      margin-top: 10%;
      font-family: "Heebo";
      transition: transform .6s cubic-bezier(0.55, 0, 0.55, 0.2) , color .6s cubic-bezier(0.55, 0, 0.55, 0.2);
      transform-origin: 50% 75%;
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color:  #44bd32; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.7s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2f3640;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #dcdde1;
   font-weight: 700;
    transform: scale(1.2);
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  cursor: pointer;
  background-color: #0C6FAB;
  color: white;
  border: none;
  margin-top: 175%;
  margin-left: 3%;
  font-family: Heebo !important;
  border-radius: 10px;
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: 700;
  padding: 3% 4% 0 4%;
    transition: 0.5s;
}
.openbtn i {
    display: block;
    padding: 0;
    margin: 0;
}
.openbtn:hover {
  background-color: #1526D5;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}
/**PRECIOS**/


#precios {
    z-index: 0;
    margin-left: 15%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #2f3640;
}

.card {
    margin: 7%;
    text-align: center;
    border: 2px solid #79E712 !important;
}
.card:hover {
    filter:brightness(70%);
    transition: 1s;
}

/* FOOTER */

#footer {
    padding: 3%;
    margin-left: 20%;
    text-align: center;
}
.fo {
    padding: .5%;
}


@media only screen and (max-width: 815px) {
    .navbar {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 1;
    }
    .form-inline {
        margin-left: 37%;
        position: relative;
        display: inline !important;
    }
    #nav {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;  
        height: 200px;
        z-index: 1;
        margin-top: 200px;
    }
    .nav {
        margin: 2% 0;
        transform: translateY(0);
    }
    .navimg {
        margin-top: -40% !important;
        z-index: 1;
        position: absolute;
    }
    .nav-item {
        padding: 5% 0;
    }
    .signin {
        margin-left: 15%;
    }
    .regis, .fa-shopping-cart {
    margin-left: 0;
    }
    .fa-shopping-cart {
        margin-right: 15%;
    }
    #precios {
        margin-top: 550px;
        margin-left: 0%;
    }
    .card {
        width: 70%;
        display: block;
        margin: 3% auto;
    }
    .card-img-top {
        width: 315.09px;
        height: 306.92px;
    }
}
@supports (-ms-ime-align: auto) {
  
    .form-inline {
        margin-left: 34%;
    }
}