@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700');

body {
    height: 100%;
    width: 100%;
}

/**NAVBAR**/

.navbar {
    background-color: #44bd32;
    position: fixed !important;
    width: 100%;
    z-index: 1;
}
.form-inline {
     margin-left: 37%;
     padding-top: 5px;
     padding-bottom: 5px;
    -ms-margin-left: 34%;
}
input.form-control.mr-sm-2 {
    padding: 0 60px 0 5px;
}
.regis {
     position: absolute;
    top: 20%;
    left: 90%;
}
.signin {
    top: 20%;
     left: 80%;
    position: absolute;
}
.cart {
    position: absolute;
    margin-left: 38%;
}
.fa-shopping-cart:hover {
    color: white;
    transition: 1s;
    cursor: pointer;
}
/**NAV**/
#nav {
    z-index: 2;
    background-color: #44bd32;
    top: 0;
    bottom: 0;
    width: 15%;
    position: fixed;
}
.navimg {
    position: fixed;
    left: 2%;
    top: 4%;
}
.nav {
    margin-top: 5%;
    transform: translateY(43%);
    text-align: center;
    background-color: #44bd32;
}
.nav-item {
    padding: 10% 0;
}
.closebtn {
    visibility: hidden;
}
.openbtn {
    visibility: hidden;
}
a.nav-link {
    text-decoration: none;
      text-rendering: geometricPrecision;
      position: relative;
      display: block;
      color: black;
      font-weight: 500;
      margin-top: 10%;
      font-family: "Heebo";
      transition: transform .6s cubic-bezier(0.55, 0, 0.55, 0.2) , color .6s cubic-bezier(0.55, 0, 0.55, 0.2);
      transform-origin: 50% 75%;
}

.sidebar {
margin-top: 40%;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2f3640;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #dcdde1;
   font-weight: 500;
    transform: scale(1.1);
}

/**PRECIOS**/


#precios {
    z-index: 0;
    margin-left: 15%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #2f3640;
}

.card {
    margin: 7%;
    text-align: center;
    border: 2px solid #79E712 !important;
}
.card:hover {
    filter:brightness(70%);
    transition: 1s;
}

/* FOOTER */

#footer {
    padding: 3%;
    margin-left: 20%;
    text-align: center;
}
.fo {
    padding: .5%;
}


@media only screen and (max-width: 1024px) {
    .navbar {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 1;
    }
    .form-inline {
        margin-left: 23%;
        position: absolute;
        display: inline !important;
    }
    input.form-control {
        margin-top: -15%;
    }
    button.btn-outline-dark {
        margin-top: -15% !important;
    }
    #nav {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;  
        height: 80px;
        z-index: 1;
        margin-top: 200px;
    }
    .nav {
        margin: 2% 0;
        transform: translateY(0);
    }
    .navimg {
        margin-top: -17% !important;
        z-index: 1;
        position: absolute;
    }
    .nav-item {
        padding: 5% 0;
    }
    .signin {
        margin-left: 34%;
        margin-top: -9%;
    }
    .regis {
         margin-left: 79%;
         margin-top: -9%;
    }
    .cart {
        margin-left: 123%;
        margin-top: -5%;
    }
.closebtn {
    visibility: visible;
}
.sidebar {
  margin-top: 0;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color:  #44bd32; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.7s; /* 0.5 second transition effect to slide in the sidebar */